<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<body>
  <div> <div>
  <div>
    </div><div class="v20_905">

    </div><div class="v20_906">

    </div><div class="v20_907">

    </div><div class="v20_919">

    </div><div class="v20_920">

    </div><div class="v20_921">

    </div></div><div class="v20_625">
        <div class="v20_626">
            <div class="v20_627"></div></div>
            <div class="v20_628"><div class="v20_629">

            </div><div class="v20_630"></div>
        </div><div class="v20_631"><div class="v20_632">
            <div class="v20_633"></div><div class="v20_634"></div></div>
        </div><div class="v20_635"><div class="v20_636"></div></div><div class="v20_637"></div>
    </div><div class="v20_585"><div class="v20_586"></div>
    <div class="v20_587">
        <div class="v20_588">

    </div><div class="v20_589"></div><div class="v20_590">

    </div><div class="v20_591"></div><div class="v20_592">

    </div><div class="v20_593"></div><div class="v20_594">
        
    </div><div class="v20_595"></div><div class="v20_596"></div></div><div class="v20_597"></div>
    <div class="v20_598">

    </div></div></div></body>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
